global
 
    log 127.0.0.1 local0 notice
    maxconn 2000
    user haproxy
    group haproxy
 
defaults
 
    log 127.0.0.1 local0 notice
    mode http
    option httplog
    option dontlognull
    retries 3
    option redispatch
    timeout connect 5000
    timeout client 10000
    timeout server 10000
 
frontend iotapp
 
bind :8080
mode http
stats enable
stats uri /haproxy?stats
stats realm Strictly\ Private
stats auth Another_User:passwd
 
    acl PATH_app1 path_beg -i /app1
    acl PATH_app2 path_beg -i /app2
 
use_backend BE_APP1 if PATH_app1
use_backend BE_APP2 if PATH_app2
 
backend BE_APP1
server app1Server app1:8080 check

backend BE_APP2
server app2Server app2:8080 check